/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    /* font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold; */
    font-family: "Poppins", sans-serif;
    --colorFondoTabla: #FFFFFF;
    --colordebarra: rgb(14, 13, 23);
    --mostaza: #e1ad01;
    --bordo: #800020c2;
}

p {
    color: black;
}

em {
    color: red;
}

h2 {
    font-family: "Permanent Marker", cursive;
    font-family: "Rubik", sans-serif;
}

h1 {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-family: "Rubik", sans-serif;
}

h4,
span {
    font-family: "Permanent Marker", cursive;
    font-family: "Rubik", sans-serif;
}

label {
    color: black;
}

.contenedor_res {
    width: 100%;
}

.btn-primary {
    color: rgb(232, 230, 227)!important;
    background-color: rgb(2, 80, 196)!important;
    border-color: rgb(1, 71, 174)!important;
}

.btn-success {
    color: rgb(232, 230, 227)!important;
    background-color: green !important;
    border-color: green !important;
}

.btn-danger {
    color: rgb(232, 230, 227)!important;
    background-color: red !important;
    border-color: red!important;
}

.table tr:nth-of-type(even) {
    background: rgba(138, 136, 136, 0.185);
}

.contenedor_menu {
    background: rgba(138, 136, 136, 0.185);
    padding: 0.8rem 2.5rem 0.8rem 0.8rem;
    display: flex;
    justify-content: space-between;
}

.menu_buscar select {
    margin-left: 5px;
    font-size: 1rem;
    border-radius: 5px;
    color: black;
    height: 100%;
}

.menu_buscar input {
    height: 36px;
    border: 2px solid grey;
    border-radius: 6px;
    width: 50%;
}

.menu_buscar {
    padding: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botonesMateria button {
    margin: 0 2px;
}

.contenedor_table thead {
    background-color: rgb(14, 13, 23);
    color: white;
}

.contenedorSupremo {
    display: flex;
    flex-direction: row;
}

.menu {
    width: 230px;
    background-color: rgb(14, 13, 23);
    height: 100vh;
}

.menu ul {
    margin-top: 20px;
    font-size: 1rem;
    padding: 0;
}

.menu ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
}

.menu ul li i {
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
}

.menu ul li {
    position: relative;
    height: 70px;
    width: 100%;
    list-style: none;
    text-align: center;
}

.menu ul li a {
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.perfil {
    position: absolute;
    bottom: 0;
    left: 0;
}

.logout {
    color: red;
    padding: 10px;
    font-size: 1.3rem;
}

.logout:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.navclase {
    display: none !important;
}

@media (max-width: 1024px) {
    .boton-nav-celular {
        font-size: 1.5rem;
        float: right;
        margin-top: 26px;
    }
    .navclase {
        display: block !important;
        background-color: rgb(14, 13, 23);
    }
    .menu {
        display: none !important;
    }
    .contenedorSupremo {
        display: block;
    }
    .navcel-Contenedor ul {
        margin-top: 10px;
        font-size: 1.3rem;
        padding: 0;
    }
    .navcel-Contenedor ul li {
        color: #fff !important;
        list-style: none;
        text-align: center;
        border-bottom: 1px solid rgb(255, 255, 255);
        padding: 6px;
    }
    .navcel-Contenedor ul li i {
        font-size: 1rem;
        color: white;
    }
    .navcel-Contenedor ul li a {
        color: rgb(255, 255, 255);
    }
    .contenedor_menu h2 {
        font-size: 1rem;
    }
    .menu_buscar input {
        height: 38px;
        border: 3px solid grey;
        border-radius: 6px;
    }
    .menu_buscar {
        min-width: 350px;
    }
    .contenedor_table table tr td {
        font-size: 0.8rem;
    }
}

.login-container {
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background-color: rgb(14, 13, 23);
    /*border: 1px solid #ccc;*/
}

.avatar {
    background: url(../images/LogoFinal.png);
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    background-size: cover;
}

.letraslogin {
    color: white;
}

.contenedorGeneral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto 0 auto;
    width: 97%;
}

.contenedorDerechoPersona {
    width: 49%;
    position: relative;
    background-color: var(--colorFondoTabla);
    border-radius: 3px;
    height: 48rem
}

.imgContDer {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

.imgContDer img {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

.contenedor_table {
    background-color: hsla(0, 0%, 100%, 0.537);
    margin-left: 10px;
    margin-right: 10px;
}

.DerTexl {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;
    background-color: whitesmoke;
}

.DerTexl span {
    font-size: 18px;
}

.derTexNombre h4 {
    font-size: 20px;
}

.listaModificar {
    background-color: rgb(21, 20, 35);
    color: white;
}

.listaModificar>div:hover {
    background-color: var(--colordebarra);
    color: lightgray;
}

.listaModificar>div {
    padding: 7px;
    cursor: pointer;
}

.listaModificar>div>i {
    border-radius: 50%;
    background-color: red;
    padding: 7px;
    margin-right: 10px;
}

.tdMateria {
    display: flex;
    flex-direction: row-reverse;
}

.table {
    margin: 0;
}

.contenedorIzquierdo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--colorFondoTabla);
    border-radius: 3px;
    height: 48rem;
}

.contenedorGeneral h4 {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.spinerCont {
    display: flex;
    justify-content: center;
}

.spinnerCSS {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.infoUser {
    width: 80%;
    margin: 0 auto 0 5.4rem;
    background-color: rgba(211, 211, 211, 0.561);
}

.tituloGrupoPertenecen {
    font-size: 25px;
    margin-top: 40px !important;
}

.contListarGrupo {
    width: 95%;
    margin: 0 auto;
}

.router-link-listarUsers:hover {
    background-color: var(--colordebarra);
    color: lightgray;
}

.router-link-listarUsers {
    text-decoration: none !important;
    color: white;
}

.router-link-listarUsers>i {
    margin-right: 10px;
    padding: 7px;
    border-radius: 50%;
}

.imgModificarUser {
    width: 80%;
    margin: 20px auto;
}

.imgModificarUser img {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}

.imgModificarUser h3 {
    margin: 20px 0;
}

.imgModificarUser p {
    font-size: 18px;
}

.inputFachero {
    outline: none;
    font-size: 15px;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #cbd5e0;
}

.cog_hover:hover i {
    color: darkgrey;
}

.router-link {
    text-decoration: none !important;
}

.contTableProfesor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 47rem;
    background-color: whitesmoke;
    padding: 30px;
}

.contTableProfesor>div {
    width: 59%;
}

.talbeProfesorDerecha {
    width: 40% !important;
    border-left: 2px solid #000000;
    position: relative;
}

.talbeProfesorDerecha button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 3px solid skyblue;
    background-color: skyblue;
    border-radius: 4px;
}

.talbeProfesorDerecha>div {
    margin-left: 30px;
}

.contenedorMateriaForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btnAgregarComp span {
    font-weight: 400;
}

.btnAgregarComp i {
    margin: 0 5px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.talbeProfesorDerecha>div>div>div,
.btnAgregarComp {
    background: linear-gradient(45deg, #223A8F 0%, #304FBE 100%);
    width: 150px;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 6px;
    color: white;
}

.contProfeSelec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contProfeSelec>div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contTableProfesor h3 {
    margin-left: 5px;
}

.conteinerCardGrupo {
    background-color: rgba(214, 214, 223, 0.776);
    width: 100px;
    height: 130px;
    margin-right: 5px;
    margin-top: 10px
}

.conteinerCardGrupo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    margin: 2px 0;
}

.conteinerCardGrupo h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.conteinerCardGrupo h3 {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin: 6px 0;
    text-transform: uppercase;
}

.contCardGrupoo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnGrupo {
    display: flex;
    flex-direction: row-reverse;
}

.btnGrupo button:last-child {
    margin-right: 5px;
}

.formModificar {
    /* width: 80%;
    margin: 0 auto;*/
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.informacion-derecha {
    max-width: 320px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
}

.informacion-izquierda {
    width: 50%;
    margin-right: 1rem;
}

.personalDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.personalDetails p {
    margin: 0 5px;
}

.personalDetails input {
    width: 400px;
    height: 30px;
    margin: 0 5px;
}

.frmProfesor {
    margin-top: 30px;
}

.frmProfesorMaterias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.frmProfesorMaterias>div {
    border: 3px solid skyblue;
    background-color: skyblue;
    width: 150px;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.scroller {
    height: 38rem;
    overflow-y: scroll;
}

.scroller_noticias {
    height: 40rem;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

.contenedor_archivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.archivo {
    padding: 10px;
    border-radius: 12px;
    max-width: 200px;
}

.archivo:hover {
    color: blue;
    cursor: pointer;
}

.eplipis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenedor_principal_noticias {
    width: 100%;
}

.contenedor_secundario_noticias {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.contenedor_noticia {
    display: flex;
    margin-top: 10px;
    flex-direction: row
}

.contenedor_noticia:first-child {
    margin-top: 0px;
}

.noticia_seccion_izquierda {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.noticia_seccion_derecha {
    width: 80%;
    background-color: red
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-block {
    display: block;
    width: 100%;
}

.btnCustom {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

body {
    top: 0px !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}