.pie {
    background-color: black !important;
    color: white;
}

.menuActivoL {
    color: #fff !important;
    text-decoration:none;
}
.menuActivo {
    color: rgb(255, 255, 255) !important;
    text-decoration-color: underline 1px black;
    text-decoration:none;
}

.navMargin{
    margin-left:10px;
    margin-right:10px;
}

footer{
    margin-top:5%;
}
nav{
    background:#1a1a1d;
    text-decoration: none;
}
h1{
  text-align: center;
  color:whitesmoke;
}
table{
    color:whitesmoke;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  em{
      color:red;
  }

p{
    color:white;
}